{% extends 'base.html' %}
{% load static %}

{% block title %}
  Home
{% endblock %}

{% block content %}
  <h1 class="mb-4">할일 목록</h1>
  {% comment %}조건문을 설정하여 로그인한 유저만 할일 작성이 가능하게 한다.{% endcomment %}
  {% if request.user.is_authenticated %}
    <a href="{% url 'todos:create' %}" class="btn btn-primary mb-3">할일 작성</a>
  {% endif %}

  <div class="row">
    {% comment %}index.html을 렌더링할때 받는 context에서 인자의 이름이 todos였으므로 for 구문 안에도 all_todos가 아닌 todos로 적어야 한다.{% endcomment %}
    {% for todo in todos %}
      <div class="col-md-6 mb-4">
        <div class="card">
          <div class="card-body">
            {% if todo.image %}
              <img src="{{ todo.image.url }}" alt="Todo Image" class="card-img-top" />
            {% endif %}
            <h5 class="card-title {% if todo.completed %}completed{% endif %}">{{ todo.title }}</h5>
            <h6 class="card-subtitle mb-2 text-muted">
              By
              <a href="{% url 'accounts:profile' todo.user %}">{{ todo.user }}</a>
            </h6>
            <p class="card-text {% if todo.completed %}completed{% endif %}">{{ todo.content|truncatewords:30 }}</p>
            <div class="d-flex justify-content-between">
              <a href="{% url 'todos:detail' todo.pk %}" class="btn btn-outline-primary">더 보기</a>
              {% if request.user.is_authenticated %}
                <form action="{% url 'todos:toggle_complete' todo.pk %}" method="POST" class="d-inline">
                  {% csrf_token %}
                  {% if todo.completed %}
                    <button type="submit" class="btn btn-warning btn-sm">미완료로 변경</button>
                  {% else %}
                    <button type="submit" class="btn btn-success btn-sm">완료</button>
                  {% endif %}
                </form>
              {% endif %}
            </div>
          </div>
          <div class="card-footer text-muted">
            작성일 {{ todo.created_at|date:'F d, Y' }}
            {% if todo.completed %}
              <span class="badge bg-success">완료</span>
            {% else %}
              <span class="badge bg-warning">진행중</span>
            {% endif %}
          </div>
        </div>
      </div>
    {% empty %}
      <div class="col-12">
        <p>할일이 없습니다.</p>
      </div>
    {% endfor %}
  </div>
{% endblock %}
