{% extends 'base.html' %}

{% block content %}
  <div class="container py-5" style="max-width: 720px;">
    <h1>쓰레드 작성</h1>

    <form action="{% url 'books:thread_create' book.id %}" method="POST">
      {% csrf_token %}

      <div class="ms-3 mb-3 mt-3">{{ form.as_p }}</div>

      <div class="d-flex gap-2 ms-3 mb-3" style="max-width: 200px;">
        <button class="btn btn-primary w-30" type="submit">저장</button>

        <a href="{% url 'books:detail' book.id %}" class="btn btn-secondary w-30 text-center" role="button">취소</a>
      </div>
    </form>
  </div>
{% endblock %}
